<html>
    <head>
        <link rel="stylesheet" href="styles.css">
    </head>
    <H1>
        Add New Developer
    </H1>
    <body>
        <img src="logo.png" href="styles.css">

        <form action="/addNewDeveloper" method="post">
        Developer first name
        <input type="text" name="firstName"/>
        Developer last name
        <input type="text" name="lastName"/><br>
        Developer level
        <input type="radio" name = "level" value = "Beginner"> Beginner
        <input type="radio" name="level" value="Expert">Expert<br>
        Developer Address <br>
        State
        <input type="text" name="state">
        Suburb
        <input type="text" name="suburb"><br>
        Street
        <input type="text" name="street">
        Unit
        <input type="number" name="unit"><br>
        <button>Submit</button>
        </form>
    </body>
</html>